.logined{
    &:hover .logined-option{
        display: block;
    }
    .logined-option{
        right: 30%;
        // z-index: 3000;
        position: absolute;
        &::before{
            top: -8px;
            right:20px;
            background-color: inherit;
            rotate: 45deg;
            position: absolute;
            z-index: -1;
            content: "";
            width: 30px;
            height: 30px;
        }
        
    }
    

}